body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

hr {
  border-color: rgb(133, 133, 133);
}

.table {
  background-color: #212529;
}

.table th {
  color: rgb(32, 136, 221);
}

/* Estilo global para los iconos */
.icon {
  font-size: 15px;
}

/* Estilo para el campo de acciones */
.actions-cell {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* Estilo para tareas completadas */
.completed-task {
  text-decoration: line-through;
}